#current-age {
    font-size: 2em;
    font-weight: 700;
}

#pre-current-age {
    font-size: 2em;
    font-weight: 700;
}

#current-name {
    font-size: 2em;
    font-weight: 700;
}

#pre-current-name {
    font-size: 2em;
    font-weight: 700;
}